<mat-toolbar>
  <img class="logo" src="/assets/logo.png">
  <span class="example-spacer"></span>
  <a mat-button routerLink="/login" >S’identifier</a>
  <a mat-button  >A propos</a>
  <a mat-button >Contact</a>
</mat-toolbar>
<div class="divLeft">
  <h1>CLOTHES AS NEW</h1>
  <section>
    <p  style=" margin-left: 20% ">Gérez votre lessive,</p>
    <p style=" margin-left: 14% ">  Tout en un seul endroit !</p>
  </section>
</div>
<div class="divRight">
  <img class="laundry" src="/assets/laundry.png">
</div>


