<div class="centerCard" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header fxLayout="column" fxLayoutAlign="center center" >
      <br>
      <img class="logo" src="/assets/logo.png">
    </mat-card-header>
    <br>
    <mat-card-content>
      <p>Récupérer mot de passe</p>
      <br>
      <div fxLayout="column" fxLayoutAlign="center center" >
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="emailFC" [(ngModel)]="email" required>
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="emailFC.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <button mat-raised-button  (click)="submitForm()">Evoyer Mot de passe</button>
        <br>
      </div>
    </mat-card-content>
  </mat-card>
</div>
