.container {
  font-family: arial;
  font-size: 24px;
  width: 90%;
  margin: 25px;
  height: 200px;
}

.centerpos {
  /* Center horizontally*/
  font-size: 30px;
  margin-top: 200px;
  text-align: center;
}
